[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-docstrings = "*"
jupyter = "*"
pep8-naming = "*"
pytest = "*"
requests = "==2.25.1"
joblib = "==1.0.1"

[packages]
fastapi = "==0.63.0"
pandas = "==1.1.5"
uvicorn = "==0.13.3"
joblib = "*"
scikit-learn = "*"

[requires]
python_version = "3"
